@font-face {
	font-family: 'Arial';
	src: url('../fonts/arialbd.eot');
	src: local('☺'), url('../fonts/arialbd.woff') format('woff'), url('../fonts/arialbd.ttf') format('truetype'), url('../fonts/arialbd.svg') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'DaxlinePro';
	src: url('../fonts/daxlinepro-extrabold.eot');
	src: local('☺'), url('../fonts/daxlinepro-extrabold.woff') format('woff'), url('../fonts/daxlinepro-extrabold.ttf') format('truetype'), url('../fonts/daxlinepro-extrabold.svg') format('svg');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Bold.eot');
	src: local('☺'), url('../fonts/Roboto-Bold.woff') format('woff'), url('../fonts/Roboto-Bold.ttf') format('truetype'), url('../fonts/Roboto-Bold.svg') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/RobotoCondensed-Regular.eot');
	src: local('☺'), url('../fonts/RobotoCondensed-Regular.woff') format('woff'), url('../fonts/RobotoCondensed-Regular.ttf') format('truetype'), url('../fonts/RobotoCondensed-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}